.paper-ui {
  height: 100%;
  width: 100%;
  padding: 20px;

  .form-content {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 1em;
  }

  .button-bar {
  }
}

.qr-container {
  .qr-img {
    height: 100%;
    width: 100%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    object-fit: contain;
  }
}
